@supports not(selector(::-webkit-scrollbar)) {
    * {
        scrollbar-color: var(--bg-level2) var(--bg-level1);
    }
}

@supports selector(::-webkit-scrollbar) {
    @media (pointer: coarse) {
        * {
            scrollbar-color: var(--bg-level2) var(--bg-level1);
        }
    }

    @media (pointer: fine) {
        ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
        
        ::-webkit-scrollbar-thumb {
            background: var(--bg-level3);
            border-radius: 5px;
        }
        
        ::-webkit-scrollbar-track {
            background: transparent;
            padding: 1rem;
        }
        
        body::-webkit-scrollbar-track {
            background: var(--bg-level1);
        }
    }
}