$common-white: #ffffff;
$common-black: #000000;

$primary-000: #eff6ff;
$primary-100: #dbeafe;
$primary-200: #bfdbfe;
$primary-300: #93c5fd;
$primary-400: #60a5fa;
$primary-500: #3b82f6;
$primary-600: #2563eb;
$primary-700: #1d4ed8;
$primary-800: #1e40af;
$primary-900: #1e3a8a;

$neutral-000: #fafafa;
$neutral-100: #f4f4f5;
$neutral-200: #e4e4e7;
$neutral-300: #d4d4d8;
$neutral-400: #a1a1aa;
$neutral-500: #71717a;
$neutral-600: #52525b;
$neutral-700: #3f3f46;
$neutral-800: #27272a;
$neutral-900: #18181b;

$danger-000: #fef2f2;
$danger-100: #fee2e2;
$danger-200: #fecaca;
$danger-300: #fca5a5;
$danger-400: #f87171;
$danger-500: #ef4444;
$danger-600: #dc2626;
$danger-700: #b91c1c;
$danger-800: #991b1b;
$danger-900: #7f1d1d;

$success-000: #ecfdf5;
$success-100: #d1fae5;
$success-200: #a7f3d0;
$success-300: #6ee7b7;
$success-400: #34d399;
$success-500: #10b981;
$success-600: #059669;
$success-700: #047857;
$success-800: #065f46;
$success-900: #064e3b;

$warning-000: #fffbeb;
$warning-100: #fef3c7;
$warning-200: #fde68a;
$warning-300: #fcd34d;
$warning-400: #fbbf24;
$warning-500: #f59e0b;
$warning-600: #d97706;
$warning-700: #b45309;
$warning-800: #92400e;
$warning-900: #78350f;