{{ define "content" }}

{{- $sectionPages := slice -}}
{{- range .CurrentSection.RegularPages.GroupBy "Weight" -}}
    {{- range .ByDate -}}
        {{- $sectionPages = append . $sectionPages -}}
    {{- end -}}
{{- end -}}

<main class="grow">
    <header>
        <h1>{{- .Title -}}</h1>
    </header>
    <div class="divider"></div>
    <div class="card-container">
        <div class="card-container-inner">
            {{ range $sectionPages }}
            <div class="card outlined neutral clickable">
                <h2>{{ .Title }}</h2>
                <p>{{ .Description }}</p>
                <a class="overlay" href="{{ .RelPermalink }}"></a>
            </div>
            {{ end }}
        </div>
    </div>
</main>
{{ end }}