{{ define "content" }}

{{- $multipage := gt (len .Ancestors) 2 -}}

<div class="flex row grow">
    <div id="drawer" class="sidebar drawer border-right sidebar-section">
        <div class="sidebar-inner">
            <aside class="sidebar-section-toc">
                <p><b>On this page</b></p>
                {{- partial "toc.html" . -}}
            </aside>
            {{- if $multipage -}}
                <aside>
                    <p><b>In this section</b></p>
                    <nav>
                        {{- partial "section-accordion" . -}}
                    </nav>
                </aside>
            {{- end -}}
        </div>
    </div>
    <main>
        <header>
            {{- partial "breadcrumb" . -}}
            <h1 class="title">{{ .Title }}</h1>
            <div class="date">
                <span><span class="text-secondary">Published: </span>{{- .Date | time.Format "Jan 02, 2006" -}}</span>
                {{- if .Lastmod -}}
                <span><span class="text-secondary">Last updated: </span>{{- .Lastmod | time.Format "Jan 02, 2006" -}}</span>
                {{- end -}}
            </div>
        </header>
        <div class="divider"></div>
        <article class="content">
            {{ .Content }}
        </article>
        {{- if $multipage -}}
            {{- $sectionPages := partial "func/section-pages-rec" (index .Ancestors.Reverse 2) -}}
            {{- $pageIndex := partial "func/index-of" (dict "item" . "collection" $sectionPages) -}}
            {{- $prevPage := index $sectionPages (sub $pageIndex 1) -}}
            {{- $nextPage := index $sectionPages (add $pageIndex 1) -}}
            {{- if or $prevPage $nextPage -}}
                <div class="divider"></div>
                <footer>
                    {{- with $prevPage -}}
                        <a class="icon-link prev" href="{{ .RelPermalink}}">
                            <span class="material-symbols-rounded">arrow_back</span>
                            {{- .LinkTitle -}}
                        </a>
                    {{- end -}}
                    {{- with $nextPage -}}
                        <a class="icon-link next" href="{{ .RelPermalink}}">
                            {{- .LinkTitle -}}
                            <span class="material-symbols-rounded">arrow_forward</span>
                        </a>
                    {{- end -}}
                </footer>
            {{- end -}}
        {{- end -}}
    </main>
    <div class="sidebar border-left sidebar-toc">
        <div class="sidebar-inner">
            <aside>
                <p><b>On this page</b></p>
                {{- partial "toc.html" . -}}
            </aside>
        </div>
    </div>
</div>
{{ end }}